---
import PivoCard from "@/components/PivoCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getPivosStrapi } from "@/lib/get-info-pivos";
import type { Pivo } from "@/types/Pivo";
export const prerender = true;

const pivos = await getPivosStrapi();
---

<Layout
  title="XauenDevs 🫒 Desarrollo en Jaén"
  description="Comunidad de desarrollo y tecnología de la provincia de Jaén. ¡Únete!"
>
  <section
    class="grid grid-cols-1 gap-4 lg:grid-cols-3 md:grid-cols-2 xl:grid-cols-4"
  >
    {
      pivos.map(
        ({ id, title, image, speakers, place, date, videoId }: Pivo) => (
          <PivoCard
            id={id}
            title={title}
            image={image}
            speakers={speakers}
            place={place}
            date={date}
            videoId={videoId}
            customClass="justify-self-center !max-w-none !w-full !min-w-fit"
          />
        )
      )
    }
  </section>
</Layout>
